.card-header {
    background-color: #3b0100;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    height: 40px;
    width: auto;
}

.select2 {
    width: 100% !important;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    padding: 10px;
    font-size: 14px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary {
    background-color: #0415f8;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
}

.btn-secondary {
    background-color: #6c757d;
}